/*Tag selectors*/

h1 {
  font-family: "Ubuntu";
  font-size: 12rem;
  line-height: 1.5;
}
a:hover
{
  background-color: #c9aa93;
}

h4{
  font-size: 14px;
}

button{
  padding: 20%;
}

/*Class selectors*/

/*IMAGES*/
.top-image{
  border-radius: 100%;
  width: 75%;
  margin-left: 40%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  }

.testimonial
{
border-radius:50%;
width:15%;
height: 85%;
margin: 1% 10% 0 40%;

}


.footer-image
{
  border-radius: 10%;
  width: 50%;
  height: 50%;

}
/* _______________________ */


/* Navigation */
.navbar-brand{
  font-family: "Ubuntu";
  font-weight:bold;


}

.gc{
  pading: 20%;
  margin: 40% 40% 0 0 ;
}

.navbar{
  padding: 10%;
}

.nav-item{
padding: 0 15px;
font-family: "ubuntu";
font-size: 13px;


}
.cs{
  font-size: 14px;
  text-align: center;
  padding-top: 10px;

}

.gender-case{
  padding: 5%;
}

.stat-width{
  width: 80%;
  justify-content: center;
  padding-right: 1%;
  padding-left: 20%;

}

.icon{
  margin-bottom: 5%;
  color: #77B1A3;
}
.icon:hover{
  color:green;
}
.tnc{
padding:0 15% 0;
justify-content: center;
}

.footer-icon{
  padding: 2%;
  justify-content: center;
}


.stat{
  text-align: center;
  padding: 5%;
  font-size: 16px;
  }
.case-section

.t1{
  justify-content: center;
}

.tnci{
  justify-content:center;

}
.report{
  justify-content: center;
  padding: 10%;
}

.footer-image{
  width: 50%;
  padding: 3%;
  justify-content: center;
}
.afa{
  width: 10%;
}


.awfd {
  width: 20%;
}


.h4-case-section{

}



.report-button{
  margin-left: 30%;
}


 /* .container-fluid
{
  padding:3% 15%;
}

.case-numbers
{
margin-left: 30%;
margin-right:10%;
} */




/*ID SELECTORS*/
#heading
{
  font-family: 'ubuntu';
  font-size: 50px;
}



#navbar{
  background-color: #ecddca;
  /* padding: .5% 10%; */
  font-size: 19px;
  font-family: 'Montserrat-bold';
  /* font-weight: '100'; */

}

#title {
  background-color: beige;
  padding: 8% 10%;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;

}

 #statistics
{
  background-color:#ecddca;
  padding: 0% 10%;
  margin: 0 0;
}


#testimonials{
  justify-content: center;
  background-color: #F1F9FC;
padding: 5%;
}


 .chidinma
{
  font-size: 12px;
text-align: center;
font-size: 14px;
  margin:auto;
  padding-top: 5px;
}


#h3-heading{
  margin-left: 30%; */
}

#footer
{
  background-color: beige;
  padding: 3% 10%;
}

#organisation{
  text-align: center;
}

#tnc{
  text-align: center;
  font-size: 10px;
  background-color: 000;
}
